Repository MSoltaniN/TadbirNG: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_angular, build_dotnet, production

build_angular:
  stage: build
  script:
  - cd .\src\TadbirNG\SPPC.Tadbir.Web\ClientApp
  - npm install
  - npm install -g @angular/cli
  - node C:\Users\s_omidi\AppData\Roaming\npm\node_modules\@angular\cli\bin\ng build --configuration=production --output-path ${angular_build_output_server_path}

build_dotnet:
  stage: build
  script:
  - dotnet restore .\src\TadbirNG\SPPC.Tadbir.Web.Api\SPPC.Tadbir.Web.Api.csproj
  - dotnet build .\src\TadbirNG\SPPC.Tadbir.Web.Api\SPPC.Tadbir.Web.Api.csproj --no-restore
  ...

production:
  stage: deploy
  script:
  - "if((Get-WebSiteState -Name ${application_pool_name}).Value -ne 'Stopped'){\n  Write-Output ('Stopping WebSite: {0}' -f ${application_pool_name})\n  Stop-WebSite -Name ${application_pool_name}\n}\n"
  ...

Fixed issue #860 and a bug in account components (Build 1565)
  src/TadbirNG/FrameworkSolutionInfo.cs
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.cs
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.resx
  src/TadbirNG/SPPC.Tadbir.Web.Api/Controllers/CostCentersController.cs
  src/TadbirNG/SPPC.Tadbir.Web.Api/Controllers/DetailAccountsController.cs
  src/TadbirNG/SPPC.Tadbir.Web.Api/Controllers/ProjectsController.cs
Due: build_dotnet, production

delete validate control fields in view models
  src/TadbirNG/SPPC.Tadbir.ViewModel/CashFlow/CashRegisterViewModel.Generated.cs
  src/TadbirNG/SPPC.Tadbir.ViewModel/CashFlow/SourceAppViewModel.Generated.cs
  src/TadbirNG/SPPC.Tadbir.ViewModel/Finance/AccountViewModel.Generated.cs
  src/TadbirNG/SPPC.Tadbir.ViewModel/Finance/CostCenterViewModel.Generated.cs
  src/TadbirNG/SPPC.Tadbir.ViewModel/Finance/CurrencyRateViewModel.Generated.cs
  src/TadbirNG/SPPC.Tadbir.ViewModel/Finance/CurrencyViewModel.Generated.cs
  src/TadbirNG/SPPC.Tadbir.ViewModel/Finance/DetailAccountViewModel.Generated.cs
  src/TadbirNG/SPPC.Tadbir.ViewModel/Finance/ProjectViewModel.Generated.cs
Due: none

Added 'report' & 'excelExport' ability to payRecieve's sub forms
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/shared/components/reportViewer/reportViewer.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/shared/directive/grid/component/auto-generated-grid-setting.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/cash-account/cash-account.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/cash-account/cash-account.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/payer-receiver/payer-receiver.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/payer-receiver/payer-receiver.component.ts
Due: build_angular

Added special operationIds of payRecieve form
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/shared/class/autoGeneratedGrid.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/shared/components/reportManagement/reportManagement.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/cash-account/cash-account.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/cash-account/cash-account.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/pay-receive-editor.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/payer-receiver/payer-receiver.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/payer-receiver/payer-receiver.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/enums/treasuryOperationID.ts
Due: build_angular

Fixed showing permissions in the tree view in the roles details button
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/admin/components/role/role-detail-form.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/admin/components/role/role-detail-form.component.ts
Due: build_angular

Added Undo Register attribute for PayReceive API (Build 1566)
  res/TadbirSys_CreateDbObjects.sql
  res/Tadbir_CreateDbObjects.sql
  src/TadbirNG/FrameworkSolutionInfo.cs
  src/TadbirNG/SPPC.Tadbir.Common/Domain/Metadata/OperationId.cs
  src/TadbirNG/SPPC.Tadbir.Interfaces/Api/PayReceiveApi.cs
  src/TadbirNG/SPPC.Tadbir.Interfaces/Persistence/IPayReceiveRepository.Generated.cs
  src/TadbirNG/SPPC.Tadbir.Interfaces/Security/Enums.cs
  src/TadbirNG/SPPC.Tadbir.Persistence/Repository/PayReceiveRepository.Generated.cs
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.cs
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.en.resx
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.resx
  src/TadbirNG/SPPC.Tadbir.Utility/Scripts/TadbirSys_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Utility/Scripts/Tadbir_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/Controllers/PayReceivesController.cs
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/TadbirSys_UpdateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/Tadbir_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/Tadbir_UpdateDbObjects.sql
Due: build_dotnet, production

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build_angular, build_dotnet, production

Update .gitignore
  .gitignore
Due: none

Update .gitlab-ci.yml file without cash
  .gitlab-ci.yml
Due: build_angular, build_dotnet, production

added custom acvanceFilter operation id for 'cash-account' & 'payer-reciever' forms
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/cash-account/cash-account.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/payer-receiver/payer-receiver.component.ts
Due: build_angular

Revamped UI-Build(1.2.1405)
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/environments/environment.prod.ts
  src/TadbirNG/TadbirSolutionInfo.cs
Due: build_angular

Finalizing change number field type
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.en.resx
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/TadbirSys_UpdateDbObjects.sql.bak
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/Tadbir_UpdateDbObjects.sql.bak
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/check-book/check-book-editor.component.html
Due: build_angular, build_dotnet, production

Add new file
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/environments/environment.ts
Due: build_angular

Update SPPC.Tadbir.Web.Api.csproj
  src/TadbirNG/SPPC.Tadbir.Web.Api/SPPC.Tadbir.Web.Api.csproj
Due: build_dotnet, production

Add new file
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/edition.Development.json
Due: build_dotnet, production

Update edition.Development.json
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/edition.Development.json
Due: build_dotnet, production

Quick fix of an old service bug
  src/TadbirNG/SPPC.Tadbir.Web.Api/Controllers/CurrenciesController.cs
Due: build_dotnet, production

Added some changes for register
  res/TadbirSys_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Interfaces/Api/PayReceiveApi.cs
  src/TadbirNG/SPPC.Tadbir.Interfaces/Persistence/IPayReceiveRepository.Generated.cs
  src/TadbirNG/SPPC.Tadbir.Persistence/Repository/PayReceiveRepository.Generated.cs
  src/TadbirNG/SPPC.Tadbir.Utility/Scripts/TadbirSys_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/Controllers/PayReceivesController.cs
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/TadbirSys_UpdateDbObjects.sql
Due: build_dotnet, production

Revert "Update edition.Development.json"
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/edition.Development.json
Due: build_dotnet, production

Revert "Add new file"
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/environments/environment.ts
Due: build_angular

Delete edition.Development.json
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/edition.Development.json
Due: build_dotnet, production

Fixed shhowing permissions in the tree view - solution 2
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/admin/components/role/role-detail-form.component.ts
Due: build_angular

Fixed issue #859 & #756
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/accountCollection/accountCollection.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/pay-receive/pay-receive-editor.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/assets/i18n/en.json
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/assets/i18n/fa.json
Due: build_angular

Fixed titles for cash registers and currency - issue 761
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/currencyRate/currencyRate.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/currencyRate/currencyRate.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/assets/i18n/en.json
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/assets/i18n/fa.json
Due: build_angular

Fixed several naming mistakes and improved Urls
  res/Framework.xml
  res/TadbirSys_CreateDbObjects.sql
  res/Tadbir_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Interfaces/Api/AccountCollectionApi.cs
  src/TadbirNG/SPPC.Tadbir.Interfaces/Persistence/IAccountCollectionRepository.cs
  src/TadbirNG/SPPC.Tadbir.Interfaces/Persistence/IVoucherLineRepository.cs
  src/TadbirNG/SPPC.Tadbir.Model/Finance/VoucherLine.Generated.cs
  src/TadbirNG/SPPC.Tadbir.Model/Finance/VoucherLine.cs
  src/TadbirNG/SPPC.Tadbir.Persistence/Mapping/Finance/VoucherLineMap.Generated.cs
  src/TadbirNG/SPPC.Tadbir.Persistence/Repository/AccountCollectionRepository.cs
  src/TadbirNG/SPPC.Tadbir.Persistence/Repository/VoucherLineRepository.cs
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.cs
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.en.resx
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.resx
  src/TadbirNG/SPPC.Tadbir.Utility/Scripts/TadbirSys_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Utility/Scripts/Tadbir_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/Controllers/AccountCollectionsController.cs
  src/TadbirNG/SPPC.Tadbir.Web.Api/Controllers/VouchersController.cs
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/TadbirSys_UpdateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/Tadbir_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/Tadbir_UpdateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/service/api/accountCollectionApi.ts
Due: build_angular, build_dotnet, production

Implemented Active/Deactive operations as single operation
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/account/account.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/account/account.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/costCenter/costCenter.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/costCenter/costCenter.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/currency/currency.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/currency/currency.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/detailAccount/detailAccount.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/detailAccount/detailAccount.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/project/project.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/finance/components/base/project/project.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/shared/class/base.service.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/shared/class/detail.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/shared/class/list.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/shared/security/permissions.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/cash-registers/cash-registers.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/cash-registers/cash-registers.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/sources-applications/sources-applications.component.html
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/app/treasury/components/sources-applications/sources-applications.component.ts
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/assets/i18n/en.json
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/assets/i18n/fa.json
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/styles.css
Due: build_angular

UI-Build Version increased (1.2.1406)
  src/TadbirNG/SPPC.Tadbir.Web/ClientApp/src/environments/environment.prod.ts
  src/TadbirNG/TadbirSolutionInfo.cs
Due: build_angular

Merged s-omidi/Account-Collection-Validator into master (Build 1567)
  res/Framework.xml
  res/TadbirSys_CreateDbObjects.sql
  src/TadbirNG/FrameworkSolutionInfo.cs
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.cs
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.en.resx
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.resx
  src/TadbirNG/SPPC.Tadbir.Utility/Scripts/TadbirSys_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/Controllers/VouchersController.cs
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/TadbirSys_UpdateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/Tadbir_UpdateDbObjects.sql
Due: build_dotnet, production

Fixed a script bug caused by unmerged branches
  res/TadbirSys_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Utility/Scripts/TadbirSys_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/TadbirSys_UpdateDbObjects.sql
Due: build_dotnet, production

Finalizing report scripts and register PayReceive API
  res/TadbirSys_CreateDbObjects.sql
  src/TadbirNG/SPPC.Tadbir.Persistence/Mapping/CashFlow/PayReceiveVoucherLineMap.cs
  src/TadbirNG/SPPC.Tadbir.Persistence/Repository/PayReceiveRepository.Generated.cs
  src/TadbirNG/SPPC.Tadbir.Web.Api/wwwroot/static/Script/TadbirSys_UpdateDbObjects.sql
Due: build_dotnet, production

Finalizing undo register PayReceive API
  src/TadbirNG/SPPC.Tadbir.Persistence/Mapping/CashFlow/PayReceiveVoucherLineMap.cs
  src/TadbirNG/SPPC.Tadbir.Persistence/Repository/PayReceiveRepository.Generated.cs
Due: none

Temporary commit before branch checkout
  src/TadbirNG/SPPC.Tadbir.Common/Domain/Entity/IBaseEntity.cs
  src/TadbirNG/SPPC.Tadbir.Model/BaseEntity.cs
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.en.resx
  src/TadbirNG/SPPC.Tadbir.Resources/AppStrings.resx
Due: none

Path conditions:
  build_angular: any of: src/TadbirNG/SPPC.Tadbir.Web/**/*, .gitlab-ci.yml
  build_dotnet: any of: src/TadbirNG/SPPC.Tadbir.Web.Api/**/*, .gitlab-ci.yml
  production: any of: src/TadbirNG/SPPC.Tadbir.Web.Api/**/*, .gitlab-ci.yml
